@import 'styles/mixins.scss';

  .list-item__component {

    @include app-transition();
    user-select: none;
    text-decoration: none;
    background: transparent;

    h1, h2, p {
      text-overflow: inherit;
      overflow: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
    }

  }

  .list-item__inner {
    margin-left: var(--app-spacing--lg);
    padding: var(--app-spacing--md) var(--app-spacing--md) var(--app-spacing--md) 0;
    border-bottom: var(--app-border);
  }
